{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">

    <meta name="author" content="">

	<!-- icons -->
	<!--<link rel="apple-touch-icon" href="img/favicon.png">
	<link rel="shortcut icon" href="img/favicon.png">-->
		
    <!-- Bootstrap Core CSS -->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'public/css/bootstrap.min.css' %}" type="text/css">
	
	<!--font awesome icons-->
	<link rel="stylesheet" href="{% static 'public/css/font-awesome.min.css' %}" type="text/css">
	
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'public/css/custom-market.css' %}" type="text/css">

	<link href="{% static '/public/css/toastr.css' %}" rel="stylesheet" type="text/css">

	<script src="{% static '/public/js/jQuery.min.js' %}"></script>
	<script src="{% static '/public/js/jquery.js' %}"></script>
	<script src="{% static '/public/js/BxSlider.js' %}"></script>	
	<script src="{% static '/public/js/jquery.magnific-popup.min.js' %}"></script>	
	<!-- Bootstrap Core JavaScript -->
	<script src="{% static '/public/js/bootstrap.min.js' %}"></script>
	<script src="{% static '/public/js/toastr.min.js' %}"></script>
	<script src="{% static '/public/js/video-embed.js' %}"></script>
	<script src="{% static '/public/js/details.js' %}"></script>



</head>
<body>
	<nav class="navbar header">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><img src="{% static 'public/img/logo.jpg' %}" class="logo" alt="MARKETPLACE"></a>
			</div>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
			
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Marketplace</a></li>
					<li><a href="/apps/">Developer</a></li>
				</ul>
			</div>
			
		</div>
	</nav>
	
	{% block body %}

	{% endblock %}

<br>
<hr>
<br>

<div class="container">
<h3>JSON Output</h3>

<pre>{{ json_pretty }}</pre>
</div>

</body>
</html>

