<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>

    body { margin: 25px 50px 75px; }

    </style>
  </head>
  <body>
   
	{% block body %}

	{% endblock %}

</body>
</html>

