{% extends 'market/base.html' %}



{% block title %} App Details {% endblock %}

{% block body %}

	<!--section-->
	<div class="jumbotron hero-section text-center">
		<div class="container">
			<h2 class="Integration__heading">{{app.name}}</h2>
			<img src="{{app.customData.icon}}" alt="" class="Integration-logo">
		</div>
	</div>
	<!--end-->
	
	<div class="container">
		
		<!-- sidebar -->
		<div class="col-sm-12 col-md-4 col-md-push-8">
		
			<!-- download button card -->
			<div class="card text-center">

					<button id="btn-uninstall" onclick="manageApp('uninstall')" class="btn-primary btn btn-lg danger btn-danger hidden "><i class="fa fa-times"></i> Uninstall App</button>
					{% if disable_ownership %}
						<button id="btn-install" onclick="manageApp('install')" class="btn-primary btn btn-lg hidden disabled"><i class="fa fa-check"></i> Get It Now</button>
					{%else%}
						<button id="btn-install" onclick="window.open('/buy','popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no')" class="btn-primary btn btn-lg hidden"><i class="fa fa-check"></i> Get It Now</button>
					{%endif%}
				
			</div>
			
			<!-- media card -->
			{% if app.customData.video or app.customData.images %}
			<div class="card">
				{% if app.customData.video %}
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="{{app.customData.video}}" class="embed-responsive-item"></iframe>
				</div>
				{% endif %}
				
				{% if app.customData.images %}
				<div class="thumb-slider">
					<ul class="bxslider">
						{% for image in app.customData.images %}
							<li><a href="{{image}}"><img src="{{image}}" /></a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				
			</div>
			{% endif %}
			
			<!-- details card -->
			{% if app.customData.website or app.customData.category %}
			<div class="card">
				{% if app.customData.website %}
					<h4 class="lead-txt">Website</h4>
					<p><a href="{{app.customData.website}}">{{app.customData.website}}</a></p>
				{% endif %}
				{% if app.customData.category %}
					<h4 class="lead-txt">Categories</h4>
					<p>{{app.customData.category_list}}</p>
				{% endif %}
			</div>
			{% endif %}
			
		</div><!-- end sidebar -->
		
		<!-- search conatiner -->
		<div class="col-sm-12 col-md-8 col-md-pull-4">
			<div class="main-content">
				
				<div class="card">
					<div class="description">
						{{app.customData.description | safe}}
					</div>
				</div>
				
				<div class="related-product" id="related_app">
					
					
				</div>
				
			</div>
		</div>
		
	</div>
	

	
    {% if app.ownership.ownershipStatus == 'active' %}
    	<script type="text/javascript">
    		$("#btn-uninstall").removeClass('hidden');
    	</script>
    {% else %}
    	<script type="text/javascript">
    		$("#btn-install").removeClass('hidden');
    	</script>
    {% endif %}

<script type="text/javascript">

		$(document).ready(function() {
			if( $.fn.bxSlider) {
				$('.thumb-slider ul').bxSlider({loop:false});
			}
		
			$('.thumb-slider').magnificPopup({
				delegate: 'li:not(.bx-clone)>a',
				type: 'image',
				tLoading: 'Loading image #%curr%...',
				mainClass: 'mfp-img-mobile',
				gallery: {
					enabled: true,
					navigateByImgClick: true,
				},
				image: {
					tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
				}
			});

$.get('/apps/related_apps/', { category: "{{app.customData.category_list}}", appId: "{{app.appId}}"}, function(data) {
	console.log("datsa    "+ data);
	document.getElementById("related_app").innerHTML = data;
});
  	

});


		function manageApp(type){
			if("{{disable_ownership}}" == "True"){
				return
			}
			$.get('/apps/manage_app/', { type: type, app_id : "{{app.appId}}", model_id:"{{app.model.0.modelId}}" }, function(data) {
				if(type == 'uninstall'){
					$("#btn-install").removeClass('hidden');
					$("#btn-uninstall").addClass('hidden');
				}else{
					$("#btn-install").addClass('hidden');
					$("#btn-uninstall").removeClass('hidden');
				}
	        	toastr.success(data);
			});
		}

	</script>
{% endblock %}


	


	

	
