{% extends 'market/base1.html' %}



{% block title %} App Details {% endblock %}

{% block body %}


<p>{{app.name}}</p>

<img src="{{app.customData.icon}}" width="50"><br>

<a href="/buy">Buy</a><br>


					<button id="btn-uninstall" onclick="manageApp('uninstall')"> Uninstall App</button><br>
					
					{% if disable_ownership %}
						<button id="btn-install" onclick="manageApp('install')" class="btn-primary btn btn-lg hidden disabled"><i class="fa fa-check"></i> Get It Now</button><br>
					{%else%}
						<button id="btn-install" onclick="manageApp('install')" class="btn-primary btn btn-lg hidden"><i class="fa fa-check"></i> Get It Now</button><br>
					{%endif%}
				
		<br>
			
			<!-- media card -->
			{% if app.customData.video or app.customData.images %}

				
				{% if app.customData.images %}
						{% for image in app.customData.images %}
							<li><a href="{{image}}">image</a></li>
						{% endfor %}
				{% endif %}
				
		
			{% endif %}
			
			<!-- details card -->
			{% if app.customData.website or app.customData.category %}

				{% if app.customData.website %}
					<h4 class="lead-txt">Website</h4>
					<p><a href="{{app.customData.website}}">{{app.customData.website}}</a></p>
				{% endif %}
				{% if app.customData.category %}
					<h4 class="lead-txt">Categories</h4>
					<p>{{app.customData.category_list}}</p>
				{% endif %}
	
			{% endif %}
			
		</div><!-- end sidebar -->
		
		<!-- search conatiner -->

						{{app.customData.description | safe}}
						{{app.customData.contactemail}}


<br>
<h3>JSON Output</h3>

<pre>{{ json_pretty }}</pre>



{% endblock %}


	


	

	
