{% extends 'market/base.html' %}
{% load static %}


{% block title %} Marketplace home {% endblock %}

{% block body %}



	
	<!-- Hero section-->
	<div class="jumbotron hero-section">
		<div class="container">
			<h1 class="heading">Your Marketplace</h1>
			<p class="sub-txt">Apps, plugins and add-ons for your platform</p>			
			<div id="hfeatured"></div> 
			
		</div>
	</div>
	<!--end-->
	
	<div class="container">
		<!-- sidebar -->
		<div class="sidebar-toggle hidden">
			<button type="button" class="btn-info btn">
				<span class="glyphicon glyphicon-menu-hamburger"></span> 
			</button>
		</div>
		
		<div class="col-md-4 col-lg-3">
			<div class="sidebar">
				<h4 class="heading">Search Marketplace</h4>
				<form accept-charset="UTF-8" action="javascript:void(0);" class="search-form" id="search_form" method="post">
					<i class="fa fa-spinner fa-spin searchLoader" style="display: none;"></i>
					<input value="" type="text" name="query" placeholder="Search" aria-label="Search" id="IntegrationSearch" class="form-control search filter_app_with_text">
				</form>
				
				<h4 class="heading">Collections</h4>
				<ul>
					<li><a href="JavaScript:void(0);" onclick="filter(this,'all')" >All Apps</a></li>
					<li><a href="JavaScript:void(0);" onclick="filter(this,'myapps')"  >My Apps</a></li>
					<li><a href="JavaScript:void(0);" onclick="filter(this,'popular')" >Popular</a></li>
					<li><a href="JavaScript:void(0);" onclick="filter(this,'featured')" >Featured</a></li>
				</ul>
				
				<h4 class="heading">Categories</h4>
				<ul >
					<li><a href="javascript: void(0);"  onclick="filter(this,'Accounting')"  >Accounting</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Analytics')"  >Analytics</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Automation')"  >Automation</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Booking & Ticketing')"  >Booking & Ticketing</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Card Readers & POS')"  >Card Readers & POS</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'CRM')"  >CRM</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Customer Support')"  >Customer Support</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'E-Commerce')"  >E-Commerce</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Electronic Signature')"  >Electronic Signature</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Email Marketing & Dunning')"  >Email Marketing & Dunning</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Financing')"  >Financing</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Form Building')"  >Form Building</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Fundraising')"  >Fundraising</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Gift Certificates')"  >Gift Certificates</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Inventory Management')"  >Inventory Management</a></li>
					<li><a href="JavaScript:void(0);"  onclick="filter(this,'Invoicing')"  >Invoicing</a></li>
				</ul>
				
			</div>
		</div><!-- end sidebar -->
		
		<!-- search conatiner -->
		<div class="col-sm-12 col-md-8 col-lg-9">
			<div id="apps" class="main-content">
				{% for app in apps %}
					<a class="Integration-box" href="/details/{{app.safeName.0}}" data-context="{{app.customData.category}}">
						<div class="row">
							<img class="Integration-Icon" src="{{ app.customData.icon}}">
							
							<div class="Integration-Detail">
								<h3>{{ app.name}}</h3>
								<!--<p class="IntegrationCategory">Analytics</p>-->
								<p class="IntegrationTagline">{{ app.customData.summary}}</p>
							</div>
						</div>
					</a>

				{% endfor %}
				{% if not apps%}
					<p style="text-align:center;">There are no apps available</p>
				{%endif%}
			</div>
		</div>
		
		
	</div>
<script type="text/javascript">


	var category = '';
	var previous_element = '';
	function filter(element, cat) {
		if(previous_element){
			$(previous_element).parent().removeClass('active')
		}
		$(element).parent().addClass('active')
		previous_element = element;
		category = cat;
		$.ajax({
			url:'apps/category/',
			method: 'GET',
			data : { category: category } 
			}).done(
			function(data) {
        		document.getElementById("apps").innerHTML = data;	
        		$(".searchLoader").hide();
        		$('#IntegrationSearch').val('');

				
			});
	}

$(document).ready(function() {
  
  	$.get('apps/category/', { category: 'hfeatured' }, function(data) {
        	document.getElementById("hfeatured").innerHTML = data;
        	$('#IntegrationSearch').val('');
	});

  var timer, value;
  $('.filter_app_with_text').on('keyup', function(event) {
  	if( event.keyCode == 13){
  		return false
  	}
  	$(".searchLoader").show();
    clearTimeout(timer);
    var str = $(this).val();
    if (value != str) {
      timer = setTimeout(function() {
        value = str;
        if(category == 'all'){
        	category = '';
        }
        $.get('apps/search/', { query: str, category: category }, function(data) {
        	document.getElementById("apps").innerHTML = data;
        	$(".searchLoader").hide();
		});

      }, 500);
    }
  });
});





</script>
	
<script src="{% static '/public/js/custom.js' %}"></script>
{% endblock %}


