{% load static %}

<html>
<head>

<link href="{% static "/public/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "/public/css/style.css" %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'public/css/font-awesome.min.css' %}" type="text/css">
<link href="{% static "/public/css/cropper.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "/public/css/select2.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "/public/css/toastr.css" %}" rel="stylesheet" type="text/css">

<script src="{% static "/public/js/jQuery.min.js" %}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static "/config/config.js" %}"></script>
<script src="{% static "/public/js/cropper.min.js" %}"></script>
<script src="{% static "/public/js/dropzone.js" %}"></script>
<script src="{% static "/public/js/video-embed.js" %}"></script>
<script src="{% static "/public/js/select2.min.js" %}"></script>
<script src="{% static "/public/js/jqBootstrapValidation.js" %}"></script>
<script src="{% static "/public/js/jquery.flot.min.js" %}"></script>
<script src="{% static "/public/js/cropper-dropzone.js" %}"></script>
<script src="{% static "/public/js/tinymce/tinymce.min.js" %}"></script>
<script src="{% static "/public/js/toastr.min.js" %}"></script>
<script src="{% static "/public/js/scripts.js" %}"></script>

<title>I40 Marketplace</title>
	<script>var app_status = '';
	      var statistics = '';
	      var toast_type = '';
	      var toast_message = '';
	      
		  toast_type = "{{ toast_type }}";
		  toast_message = "{{ toast_message }}";		  
		  
	</script>
</head>
<!-- Jquery-->
<body>
	<nav class="navbar header">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><img src="{% static 'public/img/logo.jpg' %}" class="logo" alt="MARKETPLACE"></a>
			</div>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
			
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Marketplace</a></li>
					<li><a href="/apps/">Developer</a></li>
				</ul>
			</div>
			
		</div>
	</nav>

{% block body %}
{% csrf_token %}
	{% block content %}
    {% endblock %}
{% endblock %}



		
</body>
</html>
