{% extends "developer/base.html" %}
{% block content %}


<section class="breadcrumb">
	<div class="container">
		<h1>Add App</h1><a href="/">
		<span> Home</span></a>
		<span> /</span><a href="/apps">
		<span> My Apps</span></a><span> /</span>
		<span> Add App</span>
	</div>
</section>

<section class="form">
	<div class="container">
	<form class="form" method="post" action="/apps/create/" novalidate>
			{% csrf_token %} 
			<input id="publish" name="publish" value="false" type="hidden"><div class="form-group row control-group">
			<div class="col-md-3 item">Application Name
				<span class="text-danger">*</span>
			</div>
			<div class="col-md-6 controls">
				<input class="form-control" required data-validation-required-message="Please fill out this field" name="name">
			</div>
	</div>
	<div class="form-group row control-group">
		<div class="col-md-3 item">Summary
			<span class="text-danger">*</span>
		</div>
		<div class="col-md-6 controls">
			<textarea class="form-control"  maxlength="150" name="summary"></textarea>
		</div>
	</div>
	<div class="form-group row control-group">
		<div class="col-md-3 item">Description
			<span class="text-danger">*</span>
		</div>
		<div class="col-md-6 controls">
			<textarea class="form-control" required data-validation-required-message="Please fill out this field" name="description" id="description"></textarea>
		</div>
	</div>
    <div class="form-group row control-group">
        <div class="col-md-3 item">
            Icon <span class="text-danger"> * </span>
        </div>
        <div class="col-md-6">
            <div id="upload-icon" class="dropzone"> </div>
        </div>
        <div class="col-md-6 col-md-offset-3 controls">
            <input type="input" id="icon" name="icon" class="hidden" value="" required data-validation-required-message="Please upload icon">
        </div>
    </div>
	<div class="form-group row control-group">
		<div class="col-md-3 item">Images</div>
		<div class="col-md-6">
			<div class="dropzone" id="upload-images">
				<input class="hidden" id="images" name="images" type="input" value="">
			</div>
		</div>
	</div>
	<div class="form-group row control-group">
		<div class="col-md-3 item">Files</div>
			<div class="col-md-6">
				<div class="dropzone" id="upload-files">
					<input class="hidden" id="files" name="files" type="input" value="">
				</div>
			</div>
		</div>
		<div class="form-group row control-group">
			<div class="col-md-3 item">Category
				<span class="text-danger">*</span>
			</div>
			<div class="col-md-6 controls">
				<select class="form-control categorizer" multiple="multiple" required data-validation-required-message="Please select at least one" name="category">
				<option>Accounting</option>
				<option>Analytics</option>
				<option>Automation</option>
				<option>Booking & Ticketing</option>
				<option>Card Readers & POS</option>
				<option>CRM</option>
				<option>Customer Support</option>
				<option>E-Commerce</option>
				<option>Electronic Signature</option>
				<option>Email Marketing & Dunning</option>
				<option>Financing</option>
				<option>Form Building</option>
				<option>Fundraising</option>
				<option>Gift Certificates</option>
				<option>Inventory Management</option>
				<option>Invoicing</option>
				</select>
			</div>
		</div>
		<div class="form-group row control-group">
			<div class="col-md-3 item">Website URL</div>
			<div class="col-md-6"><input  type="url" class="form-control" name="website" id="website_url"  onfocusout="validateWebsite()">
			<div id="show_website" class="help-block hide"><ul role="alert"><li>Please provide a valid URL</li></ul></div>
			</div>
		</div>
		<div class="form-group row control-group">
			<div class="col-md-3 item">Video URL</div>
			<div class="col-md-6"><input type="url"  class="form-control video-url" name="video" id="video_url" onfocusout="validateVideo()">
			<div id="show_video" class="help-block hide"><ul role="alert"><li>Please provide a valid URL</li></ul></div>
				<div class="video-preview">
			</div>
		</div>
	</div>
	<div class="form-group row control-group">
		<div class="col-md-3"></div>
			<div class="col-md-6 controls">
			<input type="checkbox" required data-validation-required-message="Please check this box if you want to proceed.">
			<label> I agree to the terms and conditions.
			<span class="text-danger">*</span>
			</label>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-6 col-md-offset-3">
		<button class="btn btn-primary pull-right" type="submit" onclick="bSubmit=false;">Save Draft
		</button>
		</div>
	</div>
</form>
</div>
</section>
<script type="text/javascript">
	$('select.categorizer').select2();
</script>
{% endblock %}