



<div class="footer"> 
  <div class="footer-content"><span> 
      <Copyright>OpenChannel ©2017. All rights reserved.</Copyright></span><a href="https://openchannel.io/privacy-policy/">Privacy Policy</a><a href="https://my.openchannel.io/agreement/customer_agreement.html">Terms of Service</a><a href="https://openchannel.io">OpenChannel.io</a></div>
</div>