{% extends "market/base1.html" %}
{%  block body  %}


<p>Views: {{ views }}</p>


<a href="/apps/create"> Add App </a>



<h1> My Apps </h1>
           
{% if not apps%}
    You don't have any apps yet.
{%endif%}

{% for app in apps %}
    {% if app.parent.status.value == 'suspended' or app.status.value == 'rejected' %}
        {% if not app.status.value == 'pending' %}
             {% if app.parent.status.reason %}
                {% if app.parent.status.modifiedBy == 'developer'%}
                   
                {%else%}

              Reason: {{app.parent.status.reason}}

                {%endif%}
            {% else  %}
                {% if app.status.reason %}
                  Reason: {{app.parent.status.reason}}
                {%else%}
                   
                {%endif%}
            {%endif%}
        {%else%}

         
        {%endif%}
    {% else %}

    {% endif %}



<img src="{{ app.customData.icon }} " width="50">
<br>

{{ app.name }}

{{ app.customData.summary }}


<ul>

    <li> <a href="/apps/edit/{{ app.appId }}/{{ app.version }}"> Edit </a> </li>

{% if app.status.value == 'inDevelopment' %}
    <li> <a onclick="showPublishDialog('{{ app.appId }}', '{{ app.version }}')"> Publish </a> </li>
{% endif %}

    <li><a href="/details/{{app.appId}}/{{app.version}}/" target="_blank"> Show details </a> </li>
{% if app.status.value == 'approved' %}
	
    {% if app.parent.status.value == 'approved' %}
		<li><a onclick="showSuspendDialog('{{ app.appId }}', 'suspend')"> Suspend </a> </li>
	{% endif %}

{% endif %}


{% if app.parent.status.value == 'suspended' %}
	{% if app.parent.status.modifiedBy == 'developer' %}
		<li><a onclick="showSuspendDialog('{{ app.appId }}', 'unsuspend')"> Unsuspend </a> </li>
	{% endif %}
{% endif %}

 <li><a  onclick="showDeleteDialog('{{ app.appId }}', '{{ app.version }}', '{{ app.status.value }}')">  Delete </a> </li>

</ul>


	                            {% if app.status.value == 'approved' %}

		                        		{% if app.parent.status.value == 'approved' %}
	                                    	<span> Approved </span>
	                                   {% else %}
	                                    	<span> Suspended </span>
	                                    {% endif %}
	           


	                            {% else %}

	                            	{{ app.status.value }}
	                            		{% if app.status.value == 'inDevelopment' %}
	                            			<span> Draft </span>
	                            		{% endif %}

	                            		{% if app.status.value == 'inReview' %}
	                            			<span> In Review </span>
	                            		{% endif %}

	                            		{% if app.status.value == 'pending' %}
	                            			<span> Pending Approval </span>
	                            		{% endif %}

	                            		{% if app.status.value == 'suspended' %}
	                            			<span> Suspended </span>
	                            		{% endif %}

	                            		{% if app.status.value == 'rejected' %}
	                            			<span> Rejected </span>
	                            		{% endif %}

                 

	                            {% endif %}


<br>
***
<br>

                    {% endfor %}

<br>
#### 
<br>
<br>

<h3>JSON Output</h3>

<pre>{{ json_pretty }}</pre>



{% endblock %}

