{% extends "developer/base.html" %}
{% block content %}
<script type="text/javascript"> app_status = "{{app.status.value}}" </script>

<script type="text/javascript"> statistics = {{ app.stats_data }}</script>
<section class="breadcrumb">
	<div class="container">
		<h1>Edit App</h1><a href="/">
		<span> Home</span></a>
		<span> /</span><a href="/apps">
		<span> My Apps</span></a><span> /</span>
		<span> Edit App</span>
	</div>
</section>

<section class="form">
	<div class="container">
        	{% if app.parent.status.value == 'suspended' or app.status.value == 'rejected' %}
        		{% if not app.status.value == 'pending' %}
                    {% if app.parent.status.reason %}
                    	{% if app.parent.status.modifiedBy != 'developer'%}
	                    	<div class="alert alert-danger">
				                <i class="fa fa-exclamation-circle"> </i>
				                <span> {{app.parent.status.reason}} </span>
	            			</div>
            			{%endif%}

                    {% else  %}
                    	{% if app.status.reason %}
                    		<div class="alert alert-danger">
				                <i class="fa fa-exclamation-circle"> </i>
				                <span> {{app.status.reason}} </span>
            				</div>

                    	{%endif%}
                    {%endif%}
                {%endif%}
        	{% endif %}
		<h1>
			<i class="fa fa-search"> </i>
			<span>{{ app.views }} Views </span>
		</h1>
		<div id="plot"> </div>
	<form class="form" method="post" action="/apps/edit/{{ app_id }}/{{ version }}/" novalidate> 
			{% csrf_token %}
			<input id="publish" name="publish" value="false" type="hidden"><div class="form-group row control-group">
			<div class="col-md-3 item">Application Name
				<span class="text-danger">*</span>
			</div>
			<div class="col-md-6 controls">
				<input class="form-control" required data-validation-required-message="Please fill out this field" name="name" value="{{app.name}}">
			</div>
	</div>
	<div class="form-group row control-group">
		<div class="col-md-3 item">Summary
			<span class="text-danger">*</span>
		</div>
		<div class="col-md-6 controls">
			<textarea class="form-control" maxlength="150" name="summary">{{app.customData.summary}}</textarea>
		</div>
	</div>
	<div class="form-group row control-group">
		<div class="col-md-3 item">Description
			<span class="text-danger">*</span>
		</div>
		<div class="col-md-6 controls">
			<textarea class="form-control" required data-validation-required-message="Please fill out this field" name="description" id="description">{{app.customData.description}}</textarea>
		</div>
	</div>
	<div class="form-group row control-group">
		<div class="col-md-3 item">Icon
			<span class="text-danger">*</span>
		</div>
		<div class="col-md-6">
			<div class="dropzone" id="upload-icon">
			{% if app.customData.icon %} 
                <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
                    <div class="dz-image">
                        <img data-dz-thumbnail, src="{{ app.customData.icon }}">
                    </div>
                    <div class="dz-progress">
						<span class="dz-upload completed" data-dz-uploadprogress style="width: 100%; text-align: center;">
							Complete
						</span>
                    </div>
                    <a class="dz-remove" href="javascript:void(0)" data-dz-remove onclick="removeFile(this, '#icon', '{{ app.customData.icon }}}')">
                        <i class="fa fa-trash"> </i>
                    </a>
                </div>
            {% endif %}
		</div>
		<div class="col-md-6 col-md-offset-3 controls">
			<input class="hidden" id="icon" name="icon" type="input" value="{{ app.customData.icon }}" required data-validation-required-message="Please upload icon">
		</div>
		</div>
	</div>
	<div class="form-group row control-group">
		<div class="col-md-3 item">Images</div>
		<div class="col-md-6">
			<div class="dropzone" id="upload-images">
				<input class="hidden" id="images" name="images" type="input" value="{{app.customData.images}}">
                        {% for image in app.customData.image_list %}
                            <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
                                <div class="dz-image">
                                    <img data-dz-thumbnail src="{{ image }}">
                                </div>
                                <div class="dz-progress">
									<span class="dz-upload completed" data-dz-uploadprogress style="width: 100%">
										Complete
									</span>
                                </div>
                                <a class="dz-remove" href="javascript:void(0)" data-dz-remopve onclick="removeFile(this, '#images', '{{ image }}')">
                                    <i class="fa fa-trash"> </i>
                                </a>
                            </div>
                        {% endfor %}
			</div>
		</div>
	</div>
	<div class="form-group row control-group">
		<div class="col-md-3 item">Files</div>
			<div class="col-md-6">
				<div class="dropzone" id="upload-files">
					<input class="hidden" id="files" name="files" type="input" value="{{ app.customData.files }}">
                            {% for file in app.customData.file_list %}
                            <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
                                <div class="dz-image">
                                	<a href="{{ file }}" download="myimage">
                                    <i class="fa fa-file"> </i>
                                    </a>
                                </div>
                                <div class="dz-progress">
									<span class="dz-upload completed" data-dz-uploadprogress style="width: 100%">
										Complete
									</span>
                                </div>
                                <a class="dz-remove" href="javascript:void(0)" data-dz-remove onclick="removeFile(this, '#files', '{{ file }}')">
                                    <i class="fa fa-trash"> </i>
                                </a>
                            </div>
                           {% endfor %}
				</div>
			</div>
		</div>
		<div class="form-group row control-group">
			<div class="col-md-3 item">Category
				<span class="text-danger">*</span>
			</div>
			<div class="col-md-6 controls">
				<select class="form-control categorizer" multiple="multiple" required data-validation-required-message="Please select at least one" name="category">
					<option {% if "Accounting" in app.customData.category %} selected {% endif %}>Accounting</option>
					<option {% if "Analytics" in app.customData.category %} selected {% endif %}>Analytics</option>
					<option {% if "Automation" in app.customData.category %} selected {% endif %}>Automation</option>
					<option {% if "Booking" in app.customData.category %} selected {% endif %}>Booking & Ticketing</option>
					<option {% if "Card Readers & POS" in app.customData.category %} selected {% endif %}>Card Readers & POS</option>
					<option {% if "CRM" in app.customData.category %} selected {% endif %}>CRM</option>
					<option {% if "Customer Support" in app.customData.category %} selected {% endif %}>Customer Support</option>
					<option {% if "E-Commerce" in app.customData.category %} selected {% endif %}>E-Commerce</option>
					<option {% if "Electronic Signature" in app.customData.category %} selected {% endif %}>Electronic Signature</option>
					<option {% if "Email Marketing & Dunning" in app.customData.category %} selected {% endif %}>Email Marketing & Dunning</option>
					<option {% if "Financing" in app.customData.category %} selected {% endif %}>Financing</option>
					<option {% if "Form Building" in app.customData.category %} selected {% endif %}>Form Building</option>
					<option {% if "Fundraising" in app.customData.category %} selected {% endif %}>Fundraising</option>
					<option {% if "Gift Certificates" in app.customData.category %} selected {% endif %}>Gift Certificates</option>
					<option {% if "Inventory Management" in app.customData.category %} selected {% endif %}>Inventory Management</option>
					<option {% if "Invoicing" in app.customData.category %} selected {% endif %}>Invoicing</option>
				</select>
			</div>
		</div>
		<div class="form-group row control-group">
			<div class="col-md-3 item">Website URL</div>
			<div class="col-md-6"><input  class="form-control" id="website_url" name="website" value="{{ app.customData.website }}"  onfocusout="validateWebsite()">
			<div id="show_website" class="help-block hide"><ul role="alert"><li>Please provide valid URL</li></ul></div>
			</div>
		</div>
		<div class="form-group row control-group">
			<div class="col-md-3 item">Video URL</div>
			<div class="col-md-6"><input  class="form-control video-url" id="video_url" name="video" value="{{ app.customData.video }}" onfocusout="validateVideo()">
			<div id="show_video" class="help-block hide"><ul role="alert"><li>Please provide valid URL</li></ul></div>
				<div class="video-preview">
			</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-6 col-md-offset-3">
		<button class="btn btn-primary pull-right" type="submit" onclick="bSubmit=false;bUpdate=true;">Save
		</button>
		</div>
	</div>
</form>
</div>
</section>
    <script type="text/javascript">
        // Remove file from dropzone preview area
        function removeFile(obj, selector, fileName) {
            $(selector).val($(selector).val().replace(',' + fileName, ''));
            $(selector).val($(selector).val().replace(fileName + ',', ''));
            $(selector).val($(selector).val().replace(fileName, ''));
            $(obj).parent().remove();
        }
    </script>

{% endblock %}